* {
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */
}

body {
    background-color: #efefef;
}

header {
    background: rgb(216, 210, 210);
    height: 80px;
}

p{
    color: #1E1E1E;
    text-align: left;
    font-size: 32px;
}

.levels_container {
    width: 95%;
    height: 400px;
    background: #ffffff;
    margin: 10px auto;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}